@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  height: -webkit-fill-available;
  overflow: hidden;
}

/* Prevent iOS Safari from zooming on input focus */
input, textarea, select {
  font-size: 16px !important;
}
